In [1]:
a = 29

In [2]:
120000*1.23*10/100

14760.0

In [3]:
p = 120000
r = 1.23
t = 10
si = p*r*t/100
print(si)

14760.0

In [2]:
a = 3902
b = 3902.123
c = "this is meenu"
d = True
e = none

NameError: name 'none' is not defined

In [3]:
e = None

In [4]:
fruits = ["apple", "banana", "orange"] 
coords = (23.32. 32.00, 3.022)  
person = {"name": "john", "age": 36}  
movies = {"avengers", "ironman", "hulk"}

SyntaxError: invalid syntax (16745391.py, line 2)

In [5]:
fruits = ["apple", "banana", "orange"] 
coords = (23.32, 32.00, 3.022)  
person = {"name": "john", "age": 36}  
movies = {"avengers", "ironman", "hulk"}

In [6]:
"apple" in fruits

True

In [7]:
"avocado" in fruits

False

In [8]:
"avocado" not in fruits

True

input and output

In [10]:
name = input("enter your name")
iq = int(input("what your iq(1-150)"))

In [12]:
pi = 22/7
radius = float(input("radius:"))
area = pi * radius ** 2

In [13]:
print('area=>', area)

area=> 78.57142857142857

In [14]:
print('for a radius' , radius,', the area is', area)

for a radius 5.0 , the area is 78.57142857142857

In [16]:
print('apple','banana', 'orange')
print('apple','banana', 'orange' sep=',')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (436991873.py, line 2)

In [17]:
print('apple','banana', 'orange', sep=',')

apple,banana,orange

In [18]:
print('apple','banana', 'orange', sep='/n')

apple/nbanana/norange

In [19]:
print('apple','banana', 'orange', sep='\n')

apple
banana
orange

In [22]:
print(f"for a radius of {radius},\n the area is {area:.2f}")

for a radius of 5.0,
 the area is 78.57

In [27]:

print(f'integer {a}')
print(f'float {b}')
print(f'string {c}')
print(f'boolean {d}')
print(f'nonetype {e}')

integer 3902
float 3902.123
string this is meenu
boolean True
nonetype None