In [3]:
x = int(input('give me a number:'))
if x >= 10:
    print("hurray❤️")
print("the end")

hurray❤️
the end

In [12]:
if x % 2 == 0:
    print("even")

In [14]:
price = 1900
if price> 2000:
    print("expensive")
else:
    print("we can buy it")

we can buy it

In [19]:
marks =int(input('enter your marks:'))
total = 600
pct = marks/total*100
print(f'{marks}/{total} = {pct:2f}%')
if pct > 90:
    grade = 'A'
elif pct > 75:
    grade = 'B'
elif pct > 60:
    grade = 'C'
elif pct > 40:
    grade = 'D' 
else:
    grade = 'F'
print(f'grade:{grade}')

4/600 = 0.666667%
grade:F

In [29]:
print("what is the capital of himachal?")
ans = input('your answer:')
match ans:
    case 'delhi':
        print("incorrect")
    case 'shimla'|'Shimla':
        print("correct")
    case '_':
        print('invalid answer')

what is the capital of himachal?
incorrect

loops
     *iteration based for
     *condition based while

In [30]:
movies = [
"The Godfather (1972)",
"Inception (2010)",
"Schindler's List (1993)",
"Pulp Fiction (1994)",
"The Shawshank Redemption (1994)",
"The Dark Knight (2008)",
"Forrest Gump (1994)",
"the Matrix (1999)",
"Casablanca (1942)",
"Titanic (1997)",
"The Silence of the Lambs (1991)",
"The Lord of the Rings: The Fellowship of the Ring (2001)",
"Fight Club (1999)",
"Jurassic Park (1993)",
"The Breakfast Club (1985)",
"La La Land (2016)",
"Avatar (2009)",
"The Grand Budapest Hotel (2014)",
"Gladiator (2000)",
"Spirited Away (2001)",
"The Social Network (2010)",
"Gone with the Wind (1939)",
"The Princess Bride (1987)",
"The Departed (2006)",
"The Great Gatsby (2013)",

]

for item in iterable:
    statement 1
    ...
    statement  n

In [31]:
for i in movies:
    print(i)

The Godfather (1972)
Inception (2010)
Schindler's List (1993)
Pulp Fiction (1994)
The Shawshank Redemption (1994)
The Dark Knight (2008)
Forrest Gump (1994)
the Matrix (1999)
Casablanca (1942)
Titanic (1997)
The Silence of the Lambs (1991)
The Lord of the Rings: The Fellowship of the Ring (2001)
Fight Club (1999)
Jurassic Park (1993)
The Breakfast Club (1985)
La La Land (2016)
Avatar (2009)
The Grand Budapest Hotel (2014)
Gladiator (2000)
Spirited Away (2001)
The Social Network (2010)
Gone with the Wind (1939)
The Princess Bride (1987)
The Departed (2006)
The Great Gatsby (2013)

In [32]:
for i in [12,45,56,122]:
    print(i)

12
45
56
122

In [33]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [34]:
for i in range (0, 10, +1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [35]:
for i in range (0, 50, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [36]:
for name in movies:
    if 'u' in name:
        print(name)

Pulp Fiction (1994)
Forrest Gump (1994)
Fight Club (1999)
Jurassic Park (1993)
The Breakfast Club (1985)
The Grand Budapest Hotel (2014)

In [38]:
for name in movies:
    if 'm' in name or "u" in name:
        print(name)

Pulp Fiction (1994)
The Shawshank Redemption (1994)
Forrest Gump (1994)
The Silence of the Lambs (1991)
Fight Club (1999)
Jurassic Park (1993)
The Breakfast Club (1985)
The Grand Budapest Hotel (2014)

In [39]:
for name in movies:
    if 'The' in name or "the" in name:
        print(name)

The Godfather (1972)
The Shawshank Redemption (1994)
The Dark Knight (2008)
the Matrix (1999)
The Silence of the Lambs (1991)
The Lord of the Rings: The Fellowship of the Ring (2001)
The Breakfast Club (1985)
The Grand Budapest Hotel (2014)
The Social Network (2010)
Gone with the Wind (1939)
The Princess Bride (1987)
The Departed (2006)
The Great Gatsby (2013)

In [41]:
for name in movies:
    if 'the' in name.lower():
        print(name)

The Godfather (1972)
The Shawshank Redemption (1994)
The Dark Knight (2008)
the Matrix (1999)
The Silence of the Lambs (1991)
The Lord of the Rings: The Fellowship of the Ring (2001)
The Breakfast Club (1985)
The Grand Budapest Hotel (2014)
The Social Network (2010)
Gone with the Wind (1939)
The Princess Bride (1987)
The Departed (2006)
The Great Gatsby (2013)

In [42]:
x = [3,2,1,5,6]
total = 0
for i in x:
    total +=i
    print(totl)

NameError: name 'totl' is not defined

In [45]:
x = [3,2,1,5,6]
total = 0
for i in x:
    total +=i
print(total)

17

In [44]:
sum(x)

17

factorial program

In [46]:
n = 10
fact = 1
for i in range(2, n+1):
    print(i)

2
3
4
5
6
7
8
9
10

In [51]:
n = 25
fact = 1
for i in range(2, n+1):
    fact *=i
print(i,fact)

25 15511210043330985984000000

In [53]:
n = 4
fact = 1
for i in range(2, n+1):
    fact *=i
print(i,fact)

4 24

In [54]:
n = 100
fact = 1
for i in range(2, n+1):
    fact *=i
print(i,fact)

100 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [1]:
a = 1
while a < 10:
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9

In [4]:
while True:
    x = input('enter a number:')
    if x.isnumeric():
        print('very good')
        break
    else:
        print('invalid input')

very good